.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card-sup {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #00285f;  
  align-items: center;
}

.home-image-container {
  color: #fff;
  border-radius: 10px;
}

.home-image-container img {
  width: 244px;
  height: 146px;
}

.home-image-legend{
  width: 257px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
}

.home-image-legend h1{
  color: #fff;
  font-size: 22px;
  margin-bottom: 13px;
}

.home-image-legend p {
  color: #fff;
  font-size: 14px;
}

.home-card-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ededed;
  padding: 42px 50px;  
  margin-Top: 30px;
}

.home-card-inf p {
  font-size: 18px;
  margin-left: 0px;
  margin-top: 9px;
}

 @media (min-width: 576px) {
  .home-image-container img {
    width: 333px;
    height: 199px;
  }
  
  .home-image-legend{
    width: 450px;
  }

  .home-image-legend h1{
    font-size: 36px;
  }

  .home-image-legend p {
    font-size: 18px;
  }
  
  .home-card-inf {
    flex-direction: row;
    justify-content: start;
    padding: 42px 85px;  
  }

  .home-card-inf p {
    font-size: 18px;
    margin-left: 16px;
  }
}

/* @media (min-width: 768px) {
  .home-container {
    font-size: 40px;
  }
  .home-image-container {
    padding: 100px 20px;
  }

  .home-content-container {
    padding: 20px 20px 100px 20px;
  }
} */

@media (min-width: 992px) {
  .home-image-container img {
    width: 455px;
    height: 272px;
  }
}

@media (min-width: 1280px) {
  .home-card-sup {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: calc(((85vh - 480px) / 2) - 100px) 0;
  }

  .home-image-legend h1{
    text-align: start;
  }

  .home-image-legend p{
    text-align: start;
  }

}

/* @media (min-width: 1400px) {
  .home-image-container svg {
    width: 480px;
  }
}  */
