.main-nav{
    min-height: 70px;
    background-color: #F78B00;
}

.nav-logo-text, .nav-logo-text:hover{
    color:  #00285F;
}

.main-menu{
    padding-right: 0px;
    display: flex;
    font-size: 18px;
    width: 380px;    
    justify-content: flex-end;
    column-gap: 10px;
}

.main-menu a {
    color: #00285F;
}

.main-menu a:hover {
    color:  #00285F;
}

.main-menu a.active {   
    color:  #00285F;
    font-weight: bold;
}